<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Game news..xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FDB148051CEA4E6500BED9FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDB1481E1CEA4E7600BED9FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDB148291CEA4E7900BED9FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
